$midsize: 1428px;
$smallsize: 1070px;

body {
    margin: 0;
    padding: 0;
}

#container {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 100px 1fr 200px;
}

span {
    border-bottom: 1px solid black;
    padding: 10px;
}

header {
    grid-area: 1 / 1 / 1 / -1;
    display: grid;
    grid-template-columns: repeat(5, 20%);

    @media only screen and (max-width: $smallsize){
        grid-area: 1 / 1 / 1 / 1;
    }

    nav{
        grid-area: 1 / 1 / 1 / -1;
        display: flex;
        justify-content: center;
    }

    ul { 
        padding-left: 0;
        display: flex;
        align-items: center;

        a {
            text-decoration: none;
            color: #000;
        }
        
        li {
            display: inline;
        }

        a {
            padding: 15px;
        }

        a:hover {
            cursor: pointer;
            border-bottom: 1px solid black;
            transition: .5s;
        }

        img {
            width: 300px;
            padding: 0 25px 0 25px;
        }

        button {
            background-color: #fff;
            padding: 10px;
            margin: 10px;
        }

        button:hover {
            cursor: pointer;
            background-color: gray;
            transition: .5s;
        }
    }

}

main {
    grid-area: 2 / 1 / 2 / -1;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 90vh 750px 750px 750px 100px 200px;
    row-gap: 50px;

    @media only screen and (max-width: $midsize){
        grid-template-columns: 100px 1fr 1fr 1fr 100px;
    }

    @media only screen and (max-width: $smallsize){
        grid-template-columns: 0px 1fr 1fr 1fr 0px;
    }

    

    #quiz {
        grid-area: 1 / 1 / 1 / -1;
        margin: 0 0 auto 0;

        video {
            width: 100%;
            height: 90vh;
            object-fit: cover;
            position: relative;
            z-index: 0;
        }

        button {
            background-color: red;
            color: white;
            border: none;
            padding: 25px 50px;
        }

        button:hover {
            cursor: pointer;
        }

        #vidtext {
            position: absolute;
            text-align: center;
            top: 30%;
            left: 35%;
            z-index: 1;

            @media only screen and (max-width: $smallsize){
                top: 30%;
                left: 0%;

            }

            h1 {
                color: white;
                font-size: 48px;
                width: 500px;
            }
        }
    }

    #bottomlogos {
        grid-area: 5 / 2 / 5 / 5;
        display: grid;
        grid-template-columns: repeat(7, 150px);
        margin: auto;

        @media only screen and (max-width: $midsize){
           grid-template-columns: repeat(7, 125px);
        }

        @media only screen and (max-width: $smallsize){
           grid-template-columns: repeat(3, 125px);
        }
    }

    #rightlogos {
        grid-area: 2 / 5 / 5 / 5;
        display: grid;
        grid-template-columns: 150px 150px;
        grid-template-rows: repeat (5, 20%);

        @media only screen and (max-width: $midsize){
            display: none;
        }

        img {
            margin: auto;
        }
    }

    .images {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .caption {
        padding: 50px;
        background-color: #fff;
        line-height: 50px;
        text-align: center;
    }
    

    #image1 {
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
        grid-area: 2 / 2 / 2 / 5;

        img {
            grid-area: 1 / 1 / 1 / 2;
            margin-left: 25%;
            position: relative;

            @media only screen and (max-width: $smallsize){
                grid-area: 1 / 1 / 1 / 1;
                margin: 0 400px 0 0;
                overflow: hidden;
                width: 200px;
            }
        }

        button {
            grid-area: 1 / 1 / 1 / 3;
            height: 100px;
            width: 200px;
            margin: 800px 0 0 0;
            z-index: 1;
            background-color: black;
            color: white;
            border: none;
            font-size: 24px;

            @media only screen and (max-width: $smallsize){
                margin: 400px 0 0 150px;
                height: 50px;
                width: 100px;
            }
        }

        p {
            grid-area: 1 / 1 / 1 / 3;
            height: 200px;
            width: 400px;
            margin: 300px 0 0 450px;
            border-right: 1px solid black;

            @media only screen and (max-width: $smallsize){
                margin: 400px 0 0 25%;
                width: 225px;
                height: 375px;
                background-color: rgba(255, 255, 255, .9);
            }
        }
    }

    #image2 {
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
        grid-area: 3 / 3 / 3 / 5;

        @media only screen and (max-width: $smallsize){
            grid-area: 3 / 1 / 3 / 5;
        }
        
        img {
            grid-area: 1 / 1 / 1 / 3;
            margin-left: 25%;
            position: relative;

            @media only screen and (max-width: $smallsize){
                grid-area: 1 / 1 / 1 / 1;
                margin: 0 400px 0 0;
                overflow: hidden;
                width: 200px;
            }

        }

        button {
            grid-area: 1 / 1 / 1 / 1;
            height: 100px;
            width: 200px;
            margin: 1100px 0 0 450px;
            z-index: 1;
            background-color: darkgreen;
            color: white;
            border: none;
            font-size: 24px;

            @media only screen and (max-width: $smallsize){
                margin: 800px 0 0 150px;
                height: 50px;
                width: 100px;
            }
        }

        p {
            grid-area: 1 / 1 / 1 / 3;
            height: 200px;
            width: 400px;
            margin: 600px 0 0 -350px;
            border-left: 1px solid olive;

            @media only screen and (max-width: $smallsize){
                margin: 600px 0 0 25%;
                width: 225px;
                height: 375px;
                background-color: rgba(255, 255, 255, .9);
            }
        }
    }

    #image3 {
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
        grid-area: 4 / 2 / 4 / 5;

        img {
            grid-area: 1 / 1 / 1 / 2;
            margin-left: 25%;
            position: relative;

            @media only screen and (max-width: $smallsize){
                grid-area: 1 / 1 / 1 / 1;
                margin: 0 400px 0 0;
                overflow: hidden;
                width: 200px;
            }
        }

        button {
            grid-area: 1 / 1 / 1 / 3;
            height: 100px;
            width: 200px;
            margin: 1400px 0 0 0;
            z-index: 1;
            background-color: black;
            color: white;
            border: none;
            font-size: 24px;

            @media only screen and (max-width: $smallsize){
                margin: 1000px 0 0 150px;
                height: 50px;
                width: 100px;
            }

        }

        p {
            grid-area: 1 / 1 / 1 / 3;
            height: 200px;
            width: 400px;
            margin: 800px 0 0 450px;
            border-right: 1px solid black;

            @media only screen and (max-width: $smallsize){
                margin: 700px 0 0 25%;
                width: 225px;
                height: 375px;
                background-color: rgba(255, 255, 255, .9);
            }
        }
    }

    #bottom {
        grid-area: 6 / 3 / 6 / 4;
        margin: auto;

        button {

        }
    }

}